.profile__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5% 10%;
}
.profile__info .profile__btn {
  display: flex;
  justify-content: space-around;
  width: 70%;
}
.btns {
  background-color: #5f439a;
  padding: 0.5% 2%;
  color: #fff;
  border-radius: 5px;
  border: none;
  font-size: 20px;
}
.bt.left {
  margin-left: 19px;
}
.profil__center__content {
  width: 100%;
  margin-top: 2%;
}
.profil__left__side {
  display: flex;
  justify-content: space-evenly;
  padding: 0 15%;
}
.profil__left__side .upload__photo .photo {
  width: 300px;
  height: 300px;
  overflow: hidden;
  border-radius: 50%;
  box-shadow: 0px 10px 10px #00000029;
}
.profil__left__side .upload__photo .photo img {
  width: 300px;
  line-height: 300px;
}
.profil__left__side .upload__photo {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.profil__left__side .upload__photo p {
  color: #5f439a;
  text-decoration: underline;
  cursor: pointer;
}
.profile__personal__info {
  width: 50%;
  padding: 3%;
}
.mg-left {
  margin-left: 41%;
}
.input_info label {
  margin-left: 19px;
  margin-bottom: 5px;
  color: #5f439a;
}
.inputbar {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}
.input_info {
  margin-bottom: 4%;
}
.input_info_combobox .fa-pen {
  color: #cfc9e2;
}
.inputbar i {
  color: #cfc9e2;
}
.nextBtn {
  display: none;
}
.btns.noBg {
  background: none;
  color: #5f439a;
  border: 2px solid #5f439a;
}

.added_compo {
  border: 1px solid #bdb4d7;
  padding: 3%;
  width: 96%;
  border-radius: 5px;
}

.show_compo {
  display: flex;
  flex-wrap: wrap;
}


.add_experience {
  background: #af3862;
  padding: 2px;
  color: #fff;
  text-decoration: none;
  border: none;
}
.add_experience:hover {
  color: #fff;
}
.text_resize {
  resize: none;
}
.btns.left {
  margin-left: 20px;
}
.info__title {
  display: flex;
  justify-content: center;
  color: #5f439a;
  font-size: 22.5px;
  font-family: "Open sans semiBold";
  font-weight: bold;
}
.input_info_combobox {
  display: flex;
  align-items: center;
}
.input_info_combobox select {
  width: 100%;
  padding: 0.35rem 0.35rem;
  border: 1px solid #ced4da;
  border-radius: 5px;
  margin-bottom: 4%;
}


.react-tag-input {
  cursor: pointer !important;
  color: #5F439A !important;
  border: 1px solid #BDB4D7 !important;
}
.react-tag-input__input {
  background: transparent;
  color: #333;
}
.react-tag-input__input::placeholder,
.react-tag-input__input:-moz-placeholder,
.react-tag-input__input:-ms-input-placeholder,
.react-tag-input__input::-moz-placeholder,
.react-tag-input__input::-webkit-input-placeholder {
  color: #333; /* Input placeholder */
}

.react-tag-input__tag__edit {
  cursor: pointer;
  color: #FFFFFF!important;
}

.react-tag-input__tag__content {
  color: #5F439A !important;
}

.react-tag-input__tag {
  padding: 5px !important;
  margin-right: 15px !important;
  margin-bottom: 15px !important;
  border-radius: 5px !important;
  background: #BDB4D7 !important;
  max-width: max-content !important;
}
.react-tag-input__tag__remove {
  width: 13px !important;
  height: 13px !important;
  border-radius: 100% !important;
  background: #FFFFFF !important;
}
.react-tag-input__tag__remove:before, .react-tag-input__tag__remove:after {
  background: #5F439A !important; /* X icon in remove button */
}

/*Tablette*/
@media screen and (min-width: 768px) and (max-width:968px) {
  .info__title{
    font-size: 25px !important;
  }
  .profile__personal__info{
    margin-top: 5% !important;
  }
}
/*Mobile Responsive*/
@media screen and (min-width: 360px) and (max-width: 768px) {
  .mg-left {
    margin-left: 0;
  }
  .profil__left__side {
    flex-direction: column;
    justify-content: center;
    padding: 0;
  }
  .profil__center__content {
    justify-content: center;
  }
  .profile__personal__info {
    width: 100%;
    padding: 0;
  }
  .profile__personal__info p {
    font-size: 19.8px;
  }
  .profil__left__side .upload__photo .photo {
    width: 250px;
    height: 250px;
  }
  .profil__left__side .upload__photo .photo img {
    width: 250px;
  }
  .profil__left__side .upload__photo {
    align-items: center;
  }
  .profil__left__side .upload__photo i {
    display: none;
  }

  .profile__info .profile__btn .btns {
    display: none;
  }

  .profile__personal__info {
    margin-top: 10%;
  }
  .input_info label {
    font-size: 15px;
  }
  .btns.left {
    text-align: center;
    font-size: 19px;
  }
  .nextBtn {
    display: block;
    margin: 4% 4px;
    width: 100%;
    background: none;
    border: none;
    color: #5f439a;
  }
  .nextBtn > i {
    margin-left: 5px;
  }
  .add_experience {
    font-size: 11px;
    border-radius: 2.5px;
    width: 100%;
  }
}
