.professionComponent_head{
    background: #F3F3F3;
    border-radius: 5px;
    padding: 10px 16px;
    text-align:left;
    margin-bottom: 3.1%;
}

.professionComponent_head > h2{
    padding: 0;
    font-size: 30px;
    margin-bottom: 0;
}

.profession_title{
    background: #5F439A;
    color: #ffff;
    border-radius: 6px;
    font-size: 20px;
    text-align: center;
    margin-bottom: 10px;
    padding: 5px 10px;
}

.profession_title p{
    margin-bottom: 0;
}

.email_user{
    display: flex;
    align-items: center;
    font-size: 19px;
    color: #5F439A;
    margin-bottom: 10px;
}

.email_user i{
    color:#FBB017;
}

.email_user i{
    margin-right: 5px;
}

.avis_title i{
    margin-right: 13px;
}

.avis_title{
    display: flex;
    align-items: center;
    background: #95989A;
    color: #fff;
    padding: 2%;
    justify-content: center;
    border-radius: 2px;
}

.avis_title a{
    text-decoration: none;
    color:#ffff;
}

.competenceComponent_global{
    background:#F3F3F3;
    width: 100%;
    border-radius: 5px;
    padding: 10px 16px;
    padding-bottom: 3.2%;
}

.competenceComponent_global > h2{
    padding: 0;
    font-size: 30px;
    padding: 0.5% 1%;
     margin-bottom: 0;
     
}

.competencetitle_head{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin:0.5% 1%;
    margin-top: 0;
}

.competencetitle{
    background: #FBB017;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 10px;
    border-radius: 2px;
    margin: 10px 10px 10px 0;
    border-radius: 5px;
}

.competencetitle > p{
    color: #5F439A;
    font-size: 20px;
    margin-bottom: 0;
}

.detailSection{
    display: flex;
    justify-content: space-around;
}

.experienceComponent{
    background: #F3F3F3;
    border-radius: 5px;
    padding: 10px 16px;
}

.experienceComponent > h2{
    padding: 0;
    font-size: 30px;
    margin-bottom: 0;
}

.title_years{
    width: 100%;
}

.see_more_text {
    font-size: 15px;
    color: #009B95;
    font-family: "Open sans";
    font-weight:600;
}

.see_more_text i{
    color: #009B95;
}

.first_page_title {
    color: #5F439A;
    font-size: 28px;
}

.first_page_title span{
    font-size: 25px;
    color: #009B95;
}

.experiences_date {
    color:#5F439A;
    font-size: 14px;
}

.title_years > p{
    font-size: 18px;
    color: #5F439A;
    margin-bottom: 0;
    font-family: "Open sans";
    font-weight:600;
}

/*Tablette*/
@media screen and (min-width: 768px) and (max-width:968px) {
    .competenceComponent_global{
        width: 100% !important;

    }
    .experienceComponent{
        width: 100% !important;
    }
    .detailleft{
        width: 100% !important;
    }
    .langue__section span{
        padding: 1%;
    }
    .competencetitle > p {
        font-size: 20px !important;
    }

}

/*Mobile Responsive*/
@media screen and (max-width:768px) and (min-width:320px) {
    .detailSection{
        flex-direction: column;
    }
    .professionComponent_head{
        width: 100%;
        margin-bottom: 20px;
    }
    .competenceComponent_global{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
        margin-bottom: 20px;
    }

    .competencetitle_head{
        justify-content: center;
    }

    .experienceComponent{
        margin-bottom: 10px;
    }

    .experiencecard{
        flex-direction: column;
    }

    .competencetitle{
        width: 100%;
    }

    .competencetitle_head{
        margin:4%;
        margin-top: 0;
    }
}