.card__profile {
    width: 300px;
    height: 300px;
    font-family: "Open sans";
    color: white;
    border-radius: 10px;
    margin-bottom: 20px;
    -webkit-box-shadow: 1px -1px 29px 0px rgba(109, 109, 109, 0.45);
    box-shadow: 1px -1px 29px 0px rgba(109, 109, 109, 0.45);
}
.card__profile:hover{
    cursor: pointer;
}
.card__profil__img {
    position: relative;
    width: 300px;
    height: 300px;
    border-radius: 5px;
    background-color: black;
    overflow: hidden;

}

.card__profil__img img {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    object-fit: cover;
    height: 100%;
    transition: all 0.25s ease-in;
}

.card__profil__img img:hover {
    transform: scale(1.3);
}

.card__info {
    position: relative;
    top: -300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 300px;
    width: 300px;
}
.card__info a{
    text-decoration: none;
    color: #ffff;
    transition: all 0.25s ease-in;
}
.card__profile a:hover{
    color: #ffff;
    transform: scale(1.05);
}
.card__info > span {
    margin-left: 200px;
    margin-top: 5px;
    padding: 2px 0;
    border-radius: 3px;
    text-align: center;
    margin-right: 5px;
    font-family: "Open sans semiBold";
    font-size: 14px;
}

.card__info__bottom {
    display: flex;
    flex-direction: column;
    text-align: center;
    z-index: 2;
    margin-bottom: 5px;
}

.card__info__bottom > h5 {
    margin-top: 0;
    margin-bottom: 2.5px;
    font-size: 20px;
}

.card__info__bottom i {
    color: orange;
    margin-left: 5px;
    font-size: 19px;
}

.card__info__bottom > span {
    font-size: 16px;
}

.card__gradient {
    z-index: 1;
    background: linear-gradient(0deg, rgba(70, 40, 131, 0.84) 0%, rgba(0, 212, 255, 0) 100%);
    width: 300px;
    height: 150px;
    position: absolute;
    bottom: -1px;
    border-radius: 0 0 5px 5px;
}
