.profiles {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.profiles h1{
    font-family: "Open sans semiBold";
}

.profiles button {
    background: none;
    border: 3px solid #472985d6;
    color: #472985d6;
    padding: 4px 15px;
    border-radius: 4px;
    font-family: "Open sans semiBold";
    font-size: 20px;
    margin: 20px 0;
    cursor: pointer;
    transition: all 0.25s ease-in;
    width: 100%;
}

.profiles button:hover {
    background-color: #472985d6;
    color: white;
}

.profiles button i {
    margin-left: 5px;
}