.Banner {
    background: url("./Acceuil.png");
    min-width: 90vw;
    height: 496px;
    background-size: cover;
    margin: 25px 25px 0 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}
.banner_content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    align-items: center;
}

.firstText {
    color: #fff;
    /* letter-spacing: -1.77px; */
    margin-bottom: 50px;
}