.Banner{
    background: url("./banner.png");
    border: 1px solid black;
    min-width: 90vw;
    height: 496px;
    background-size: cover;
    margin: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.firstText{
    color: #fff;
    /* letter-spacing: -1.77px; */
    margin-bottom: 50px;
}