.search__bar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #000;
  background-color: #fff;
  border-radius: 5px;
  width: 51%;
  margin: 0;
  padding: 0.30%;
}

.search__bar .inputBar i {
  color: #5f439a;
  font-size: 25px;
  margin-right: 1.5%;
}
.search__bar .fa-search{
  color:#fff;
}
.search__bar .inputBar input {
  border: none;
  background: none;
  font-size: 18px;
  margin: 1%;
  width: 70%;
  color: #000;
}

.search__bar .inputBar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-right: 1px solid #cccccc;
  margin-left: 1%;
}
.search__bar:nth-child(3){
  border-right: none;
}

.search__bar .inputBar input {
  outline: none;
}

.search__bar a {
  border: none;
  padding: 4%;
  background: #5f439a;
  color: #fff;
  border-radius: 5px;
  font-family: "Montserrat";
  transition: all 0.3s ease-in;
  margin: 0;
  padding: 1% 2%;
  font-size: 1rem;
  text-decoration: none;
}

.search__bar a:hover {
  cursor: pointer;
  transform: scale(1.08);
  color: #ffff;
}

.search__bar a:active {
  background: #5f439a;
}

@media screen and (max-width: 768px) {
  .search__bar {
    display: flex;
    flex-direction: Column;
    justify-content: center;
    align-items: center;
    color: #000;
    padding: 10px;
    background:none;
    border-radius: 5px;
    margin: 0;
    width: 100%;
  }
  .search__bar .inputBar {
    margin: 10px;
    width: 96%;
    border: 1px solid #5f439a;
    padding: 2%;
    border-radius: 10px;
    background-color: #fff;
  }
  .search__bar .inputBar input{
    color: #000;
  }
  .search__bar .inputBar i{
    color: #5f439a;
    line-height: 45px;
  }
  .search__bar a {
    margin-top: 10px;
    padding: 4%;
  }
  .search__bar a i{
    color: #fff;
    font-size: 30px;

  }
}

@media screen and (min-width:768px) and (max-width:968px) {
  
}
