.card__section.items{
    justify-items: center;
    margin:5%;
}

.paginationBttns{
    width: 80%;
    height: 40px;
    list-style: none;
    display: flex;
    justify-content: center;
  } 
  
  .paginationBttns a{
    padding: 10px;
    margin: 8px;
    border: 1px solid #2b2eff;
    border-radius: 5px;
    color: #2b2eff;
    cursor: pointer;
  }
  
  .paginationBttns a:hover{
    color: white;
    background-color: #2b2eff;
  }
  
  .paginationActive a{
    color: white;
    background-color: #2b2eff;
  }
.active a{
    background-color: gray;
}

.disable{
    background-color: black;
}
.justify-center{
  display: flex;
  justify-content: center;
  align-items: center;
}
/* .MuiPaginationItem-outlinedSecondary.Mui-selected{
  color: #f59f00;
border: 1px solid #f59f00;
background-color: rgba(245, 0, 87, 0.12);
} */
@media screen and () {
  
}