.card__section.items{
    justify-items: center;
    margin:5%;
}

.paginationBttns{
    width: 80%;
    height: 40px;
    list-style: none;
    display: flex;
    justify-content: center;
  } 
  
  .paginationBttns a{
    padding: 10px;
    margin: 8px;
    border: 1px solid #2b2eff;
    border-radius: 5px;
    color: #2b2eff;
    cursor: pointer;
  }
  
  .paginationBttns a:hover{
    color: white;
    background-color: #2b2eff;
  }
  
  .paginationActive a{
    color: white;
    background-color: #2b2eff;
  }