.auth-modal {
  width: 100%;
  display: flex;
  border: 1px solid #ccc;
  transform: scale(1);
  visibility: visible;
}

.btn-filled {
  background-color: #5F439A!important;
  text-decoration: none;
  padding: 5px 28px;
  min-height: 34px;
  cursor: pointer;
  border: 3px solid #5F439A !important;
  color: #FFFFFF !important;
  border-radius: 5px;
  opacity: 1;
}

.btn-outlined {
  margin-right: 5px;
  background-color: transparent !important;
  text-decoration: none;
  padding: 5px 28px;
  min-height: 34px;
  cursor: pointer;
  color: #5F439A !important;
  border: 3px solid #5F439A !important;
  border-radius: 5px;
  opacity: 1;
}

.btn-outlined:hover, .btn-outlined:focus, .btn-filled:hover, .btn-filled:focus {
  box-shadow: none!important;
}

.btn-submit {

}
.btn-submit:focus {
  box-shadow: none!important;
}

.modal-backdrop.in {
  opacity: 0.9 !important;
}

.auth-modal .modal-body {
  background: transparent;
  opacity: 1;
}

.auth-modal .content {
  display: flex;
  align-content: center;
  justify-content: center;
  padding: 8px;
}

.auth-modal .content .formContainer {
  background-color: white;
  width: 681px;
  padding: 15px 117px 55px;
}

.formContainer .form-label {
  margin: 0;
  font: normal normal 600 18px/32px Open Sans;
  letter-spacing: -0.54px;
  color: #5F439A;
  opacity: 1;
}

.formContainer .btn-submit-container {
  text-align: center;
}

.formContainer .btn-submit {
  text-align: center;
  color: #ffffff;
  background: #5F439A 0 0 no-repeat padding-box;
  border-radius: 3px;
  border-color: #5F439A;
  margin: 39px 0 26px;
}


.auth-modal .modal-content {
  background-color: #5f439a30;
  backdrop-filter: blur(50px);
  -webkit-backdrop-filter: blur(50px);
}

.modal.fade .modal-dialog {
  transition: none;
}

.form-title {
  text-align: center;
  font: normal normal 600 59px/80px Open Sans;
  color: #5F439A;
  opacity: 1;
  margin-bottom: 36px;
  font-size: 40px;
  letter-spacing: 1px;
}

.form-footer {
  display: flex;
  justify-content: center;
  text-align: center;
  letter-spacing: -0.64px;
  color: #5F439A61;
  opacity: 1;
}

.form-footer a {
  text-decoration: underline;
  letter-spacing: -0.64px;
  color: #5F439A;
  opacity: 1;
}

.close {
  cursor: pointer;
  margin: 15px;
}

@media screen and (max-width: 768px) {
  .auth-modal .content .formContainer {
    background-color: white;
    width: 681px;
    padding: 15px;
  }

  .formContainer .form-label {
    font: normal normal 600 16px/32px Open Sans;
  }
  .form-title{
    font-size: 1.8rem;
    margin: 0;
  }
}