.menubar {
    display: flex;
    justify-content: space-between ;
    padding: 31px 80px;
    width: 100%;
    height: 100px;
    box-shadow: -3px 6px 8px 3px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: -3px 6px 8px 3px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: -3px 6px 8px 3px rgba(0, 0, 0, 0.1);
}

.logo {
    text-align: center;
}

.logo img {
    width: 180px;
    transform: translate(0, -8px);
}

.link_button {
    width: auto;
    margin: auto 6px;
}

.link_button ul {
    display: flex;
    padding: 0;
    justify-content: center;
    align-content: center;
}

.link_button ul > li {
    list-style: none;

}

.link_button ul > li > a {
    text-decoration: none;
    border: 1px solid #5F439A;;
    padding: 5px 28px;
    margin: 70px 8px;
}

.active {
    background-color: #5F439A;
    color: #ffff;
}

.btn-outlined {
    margin-right: 5px;
    background-color: transparent !important;
    text-decoration: none;
    padding: 5px 28px;
    min-height: 34px;
    cursor: pointer;
    color: #5F439A !important;
    border: 3px solid #5F439A !important;
    border-radius: 5px;
    opacity: 1;
}

.btn-register:hover, .btn-register:focus {
    box-shadow: none!important;
}

.fas{
    margin-right: 4px;
    color: #5F439A;
}

@media screen and (min-width: 768px) and (max-width:968px) {
    .menubar {
        flex-direction: row !important;
        justify-content: space-between;
        align-items: center;
    }
}

/* Mobile */
@media screen and (max-width: 768px) {
    .menubar {
        /* padding: 31px; */
        justify-content: space-between;
        align-items: center;
        padding-left: 5px;
        padding-right: 5px;
        padding-top: 5px;
        padding-bottom: 5px;
        height: auto;
        
    }
    .logo img{
        width:120px;
        transform: none;
    }
    button{
        font-size: 10px !important;
        min-height: 15px !important;
    }
    .logo{
            display: flex;
            justify-content: center;
            align-items: center;
    }
    .link_button ul{
        margin-bottom: 0;
    }
}