.menubar{
    display: flex;
    justify-content: space-between;
    width: 100%;
    box-shadow: -3px 6px 8px 3px rgba(0,0,0,0.1);
-webkit-box-shadow: -3px 6px 8px 3px rgba(0,0,0,0.1);
-moz-box-shadow: -3px 6px 8px 3px rgba(0,0,0,0.1);
}
.logo img{
    margin-left: 80px;
    width: 180px;
}
.link_button{
    width: 30%;
    display: flex;
align-items: center;
justify-content: center;
}
.link_button .avaatar{
    display: flex;
    justify-content: center;
    width: 35px;
    height: 35px;
    border-radius: 50px;
    background-color:#5F439A ;
}
.link_button .avaatar i{
    line-height: 35px;
    text-align: center;
    color:white;
}
.link_button ul{
    display: flex;
}
.link_button ul > li {
    list-style: none;
  
}
.link_button ul > li > a{
    text-decoration: none;
    border: 1px solid #5F439A;;
    padding: 5px 28px;
    margin: 70px 8px;
    border-radius: 2px;
}
.active{
    background-color: #5F439A;
    color: #ffff;
}