.form-input {
    margin: .5rem 0;
}

.login{
    position: relative;
}

.login small{
    position: absolute;
    top: 50px;
    right: 0;
    margin-right: 10px;
    cursor: pointer;
}

.clique-text {
    cursor: pointer;
    padding-left: 5px;
    text-decoration: underline;
    letter-spacing: -0.64px;
    color: #5F439A;
    opacity: 1;
}