.footer {
    background-color: #472985d6;
    padding: 2% 5%;
    color: white;
    box-shadow: 0 -10px 5px -5px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 -10px 5px -5px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 -10px 5px -5px rgba(0, 0, 0, 0.1);
}

.footer hr{
    color: #c0a0ffd6;
}

.footer__content__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2%;
}

.footer__content__top .social__media {
    width: 15%;
}

.footer__content__top .social__media a i {
    width: 40px;
    height: 40px;
    background-color: #ffffff;
    margin-right: 5%;
    position: relative;
    border-radius: 50px;
    line-height: 40px;
    text-align: center;
    color: #5F439A;
}

.footer__content__top .news__letter__form button i {
    color:#ffffffd6;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__content__top .news__letter__form > i{
    color:#472985d6;
    margin-right: 9px;
    font-size: 25px;
}

.footer__content__top .news__letter__form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    width: 100%;
    max-width: 498px;
    height: 55px;
    padding: 15px;
    border-radius: 4px;
}

.footer__content__top .news__letter__form button{

    background-color: #472985d6;
    border:none;
    width: 15%;
    padding: 1%;
    border-radius: 2px;
}

.footer__content__top .news__letter__form input{
    border:none;
    width: 100%;
    margin-right: 3%;
    outline: none;
}

.footer__content__bottom {
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
}

.footer__content__bottom ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 11rem;
}

.footer__content__bottom ul li a{
    text-decoration: none;
    color: white;
}

/*Mobile Responsive*/
@media screen and  (min-width:320px) and (max-width:768px)  {
    .footer__content__top{
        flex-direction: column;
    }

    .footer__content__top .social__media{
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-bottom: 15px;
        margin-top: 15px;
        width: 150px;
    }

    .footer__content__top .news__letter__form{
        margin-left: 0;
        width: 100%;
        justify-content: center;
        
    }

    .footer__content__bottom{
        flex-direction: column-reverse;
        margin-top: 20px;
    }

    .footer__content__bottom ul{
        width: 100%;
        padding-left: 0;
        justify-content: center;
        align-items: center;
    }

    .footer__content__bottom ul li {
        text-align: center;
       width: 40%;
    }

    .footer__content__bottom ul li a {
       font-size: 20px;
    }

    .footer__content__bottom span{
        text-align: center;
        padding-top: 10px;
        border-top: 1px solid #c0a0ffd6;
    }

    .footer hr{
        display: none;
    }
    .news__letter{
        width: 100%;
    }
}

/* From tablet */
@media screen and (min-width: 768px) and (max-width:1024px) {
    .footer__content__top{
        flex-direction: row;
        justify-content: space-between;
    }

    .footer__content__top .social__media{
        display: flex;
    }

    .footer__content__top .social__media a i {
        margin-right: 12px;
    }

    .footer__content__top .news__letter__form{
        margin-left: 0;
        width: 498px;
        height: 45px;
        display: flex;
        justify-content: flex-end
        ;
    }

    .footer__content__bottom{
        flex-direction: column-reverse;
        margin-top: 0;
    }

    .footer__content__bottom ul{
        padding: 0;
        margin: 0;
    }
}