.competences hr{
  color: rgb(248, 248, 248);
  margin:2% 2%;
}
.competences h1{
    font-family: "Open sans semiBold";
}

.competence__element-column {
    display: flex;
    justify-content: center;
}

.competence__left {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.competence__left .column p {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    width: 100%;
    padding: 5px;
    margin-bottom: 50px;
    border-radius: 5px;
    font-size: 20px;
}

.competence__right img {
    max-width: 700px;
    width: 100%;
}

.p1 {
    background-color: #5f439a;
}

.p2 {
    background-color: #af3862;
}

.p3 {
    background-color: #95989a;
}

.p4 {
    background-color: #009b95;
}

.p5 {
    background-color: #009b95;
}

.p6 {
    background-color: #fbb017;
}

.p7 {
    background-color: #5f439a;
}

.p8 {
    background-color: #95989a;
}

@media screen and (min-width: 768px) {
    .competence__left .column {
        width: 100%;
        max-width: 200px;
    }
}