.search__contain__right{
    display: flex;
flex-direction: column;
justify-content: flex-start;
padding: 1.5%;
background-color: #F3F3F3;
width: 70%;
border-radius: 5px;
}
@media screen and (min-width:360px) and (max-width:768px) {
    .search__contain__right{
        width: 100%;
    }
    .search__contain__right .card_info{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .search__contain__right .card_info h5{
        font-size: 20px;
    }
    .search__contain__right .card_info p{
        width: 100%
    };
}