.statistique-column-container {
    display: flex;
}

.statistique-column-container:not(:last-child) {
    border-bottom: 1px dashed rgb(228, 228, 228);
}

.statistique__card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.statistique__card:first-child {
    border-right: 1px dashed rgb(228, 228, 228);
}

.statistique__card h3 {
    font-size: 30px;
    margin-top: 0;
    margin-bottom: 0;
}

.statistique__card .circle {
    width: 70px;
    height: 70px;
    border-radius: 50px;
    margin: 10px 0;
}

.statistique__card p {
    font-size: 16px;
    color: rgb(185, 185, 185);
    margin-top: 0;
    margin-bottom: 0;
    font-family: "Open sans light";
}

@media screen and (min-width: 768px) {
    .statistique__card h3 {
        font-size: 50px;
    }

    .statistique__card p {
        font-size: 25px;
    }
}

@media screen and (min-width: 1024px) {
    .statistique-column-container,
    .statistique-column-container:not(:last-child) {
        border-bottom: none;
    }

    .statistique-column-container:last-child .statistique__card:last-child {
        border-right: none;
    }

    .statistique__card {
        border-right: 1px dashed rgb(228, 228, 228);
    }
}