.inscription {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(51, 51, 51);
    padding: 6%;
    border-radius: 10px;
    background-blend-mode: soft-light;
    object-fit: cover;
    background-position: top;
    margin:25px 25px 0 25px;
    background-repeat:no-repeat;
}

.inscription::before {
    content: "";
    background-color: black;
    background-blend-mode: multiply;
    z-index: 1;
}

.inscription h2 {
    color: white;
    font-size: 40px;
    font-weight: 600 !important;
}

.inscription button {
    background-color: #fbb017 !important;
    border:none !important;
    margin-top: 25px;
}
@media screen and (max-width: 768px) {
    .inscription h2{
        font-size: 1.6rem;
    }
}